@use '../utils' as *;

.App {
    @include flex($justify: space-between, $align: stretch, $gap: 0);
    flex-direction: column;
    min-height: 100vh;

    &::before {
        content: "";
        position: absolute;
        background-image: url(../../images/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        background-position: top -10rem right -13rem;
        background-size: clamp(44rem, 110vw, 70rem);
        width: 100%;
        height: 100%;
        z-index: -1;

        @include breakpoint(desktop) {
            background-position: top -10rem left 55vw;
            background-size: min(65vw, 80rem);
        }
    }
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;

    .Footer &:hover {
        color: $clr-bright-red
    }

    .Header &:not([class^='Btn']):hover {
        color: rgba($clr-dg-blue, .9);
    }
}

.container {
    width: 100%;
    max-width: 120rem;
    padding: 0 2.4rem;
    margin: 0 auto;
    height: inherit;

    @media screen and (min-width: 1180px) {
        padding: 0;
    }
}