@use '../utils' as *;

.App {
    @include flex($justify: space-between, $align: stretch);
    flex-direction: column;
    background-color: $clr-v-pale-red;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: $clr-bright-red
    }
}