@use '../utils' as *;

.App {
    @include flex($justify: space-between, $align: stretch);
    flex-direction: column;
    background-color: $clr-vl-gray;
    background-image: url(../../images/bg-tablet-pattern.svg);
    // background-position: -500%;
    background-size: contain;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;

    &:not([class^='Btn']):hover {
        color: $clr-bright-red
    }
}