@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.6rem;
}