@use '../utils' as *;

.Header {
    &__nav {
        @include flex($justify: space-between, $align: center);
        @include container(4.8rem);
        width: 100%;
    }

    &__logo {
        @include breakpoint(mobile) {
            height: 1.8rem;
        }
    }

    &__menu {
        display: none;

        @include breakpoint(mobile) {
            display: block;
            position: fixed;
            top: 3.2rem;
            right: 1.6rem;
            padding: 1.6rem;
            background-color: $clr-v-pale-red;
            border-radius: 5vw;
            cursor: pointer;
            z-index: 100;
        }
    }


    &__list {
        @include flex($gap: 3.2rem);
        font-weight: 500;

        @include breakpoint(mobile) {
            flex-direction: column;
            position: fixed;
            top: 12rem;
            left: 0;
            right: 0;
            margin-inline: 3.2rem;
            padding-block: 4.8rem;
            border-radius: 5px;
            background-color: $clr-vl-gray;
            transform: translateX(110%);
        }
    }
}