@use '../utils' as *;
@use '../base' as *;


.Illustration {
    @extend .container;
    @include flex();
    @include container();

    @include breakpoint(mobile) {
        flex-direction: column-reverse;
    }

    @include breakpoint(desktop) {
        justify-content: space-between;
        margin-top: 7rem;
    }

    &__intro {
        @extend %intro;

        @include breakpoint(mobile) {
            gap: .5rem;
        }
    }

    &__content {
        @include flex($direct: column, $gap: 2.4rem);

        @include breakpoint(desktop) {
            align-items: flex-start;
            gap: 4rem;
        }
    }
}