@use '../utils' as *;

.Simplify {
    @include flex($gap: 2.4rem);
    background-color: $clr-bright-red ;
    background-repeat: no-repeat;
    padding: 9rem 3.2rem;

    @include breakpoint(mobile) {
        flex-direction: column;
        background-image: url(../../images/bg-simplify-section-mobile.svg);
        background-position: left top 70%;
        text-align: center;
    }

    .heading--1 {
        color: $clr-vl-gray;
        max-width: 30rem;
    }
}