@use '../utils' as *;

.Simplify {
    background-color: $clr-bright-red ;
    background-repeat: no-repeat;
    padding-block: 6rem;

    .container {
        @include flex($justify: space-between, $gap: 2.4rem);

        @include breakpoint(mobile) {
            flex-direction: column;

            >* {
                max-width: 30rem;
            }
        }

        @include breakpoint(desktop) {
            >* {
                max-width: 60rem;
            }
        }
    }

    @include breakpoint(mobile) {
        background-image: url(../../images/bg-simplify-section-mobile.svg);
        background-position: left top 70%;
        text-align: center;

    }

    @include breakpoint(desktop) {
        background-image: url(../../images/bg-simplify-section-desktop.svg);
        background-position: right -15vw top 100%;
    }

    .heading--1 {
        color: $clr-vl-gray;
    }
}